header{
    background-image: url('../img/pattern.png');
    background-color: rgb(67, 168, 235);
    background-size: 400px;
    padding-top: 30px;
    padding-left: 40px;
}

h1{
    font-size: 40px;
}

main{
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

h4, h5{
    color: rgb(163, 163, 163);
}

.logo_booleaner{
    width: 200px;
}

.div_images{
    padding-top: 20px;
    padding-bottom: 20px;
}

.div_text{
    padding-bottom: 20px;
}

.div_list{
    padding-bottom: 20px;
}

.div_table{
    padding-bottom: 20px;
}